.container {
  width: 100%;
  height: 100%;

  h1 {
    color: rgb(235, 122, 235);
    font-size: 4rem;
    font-weight: 800;
  }

  .contact {
    margin: 3rem 0;
    color: rgb(148, 148, 148);
    h3 {
      margin-bottom: 1rem;
    }
  }
}
